$primary-blue: #6db5d1;
$primary-green: #71b078;
$primary-red: #d3584b;
$primary-yellow: #edbc33;
$primary-gray: #a098ab;
$primary-violet-light: #f2eef9;
$primary-violet-dark: #63517a;

:export {
  primaryBlue: $primary-blue;
  primaryGreen: $primary-green;
  primaryRed: $primary-red;
  primaryYellow: $primary-yellow;
  primaryGray: $primary-gray;
  primaryVioletLight: $primary-violet-light;
  primaryVioletDark: $primary-violet-dark;
}
